[![Build Status](https://travis-ci.org/{github_user}/{package_name}.svg?branch=master)](https://travis-ci.org/{github_user}/{package_name})
[![Coverage Status](https://img.shields.io/coveralls/{github_user}/{package_name}.svg?branch=master)](https://coveralls.io/r/{github_user}/{package_name})

{package_name}
==========

{repo_description}


### Installation

`$ pip install {package_name}`


### Sample Usage

TODO: fill this out
